
*.txt
*.bak
*.qmsg
*.cdb
*.hdb
*.xml
*.rdb
*.bpm
*.idb
*.logdb
*.kpt
*.hsd
*.db_info
*.hier_info
*.hif
*.html
*.ammdb
*.flock
*.sci
*.tdb
*.ddb
*.tmw_info
*.json
*.sig
*.rcfdb
*.dpi
Project/incremental_db/README
*.rpt
*.done
*.smsg
*.summary
*.jdi
*.pin
*.sld
*.sof
*.xrf
*.sft
*.vho
*.hb_info
*.dfp
Project/CSA_EAC.vhd
