
*.txt
*.bak
*.qmsg
*.cdb
*.hdb
*.xml
*.rdb
*.bpm
*.idb
*.logdb
*.kpt
*.hsd
*.db_info
*.hier_info
*.hif
*.html
*.ammdb
*.flock
*.sci
*.tdb
*.ddb
*.tmw_info
*.json
*.sig
*.rcfdb
*.dpi
Project/incremental_db/README
*.rpt
*.done
*.smsg
*.summary
*.jdi
*.pin
*.sld
*.sof
*.xrf
*.sft
*.vho
*.hb_info
*.dfp
Project/CSA_EAC.vhd
*.ini
Project/simulation/modelsim/msim_transcript
*.do
Project/simulation/modelsim/rtl_work/_info
*.qdb
*.qpg
*.qtl
Project/simulation/modelsim/rtl_work/_vmake
*.wlf
*.bak1
*.bak2
*.qws
*.qws
*.qws
*.qws
*.qws
*.ipinfo
*.syn_hier_info
*.ipinfo
